<!DOCTYPE html>


<html lang="en">
<head>    

    @section scripts
            {
        <script type="text/javascript" src="~/Content/js/jquery.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.flexslider-min.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.kwicks-1.5.1.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="~/Content/js/jquery.cookie.js"></script>
        <script type="text/javascript" src="~/Content/js/touchTouch.jquery.js"></script>
        <script type="text/javascript" src="~/Content/js/superfish.js"></script>
        <script type="text/javascript" src="~/Content/js/menu.js"></script>


        <script type="text/javascript">
            if ($(window).width() > 1024) { document.write("<" + "script src='~/Content/js/jquery.preloader.js'></" + "script>"); }
        </script>
        <script>
            jQuery(window).load(function () {
                $x = $(window).width();
                if ($x > 1024) {
                    jQuery("#content .row").preloader();
                }

                jQuery('.magnifier').touchTouch();
                jQuery('.spinner').animate({ 'opacity': 0 }, 1000, 'easeOutCubic', function () { jQuery(this).css('display', 'none') });
            });
        </script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-29231762-1']);
            _gaq.push(['_setDomainName', 'dzyngiri.com']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    }

</head>
<body>
    <div class="alert center">
        <b>To See Our Range of Products You Must Be <a href="Account/Login">Logged In</a> or <a href="Account/Register">Registered</a></b>
          </div>
    <div class="bg-content">
        <div class="container">
            <div class="row">
                <div class="span12">
                    
    
    <!-- slider -->
                    <div class="flexslider">
                        <ul class="slides">
                            <li> <img src="~/Content/img/Vegetable/home_juices.jpg" style="max-height:356px" alt=""> </li>
                            <li> <img src="~/Content/img/Vegetable/vegetable2.jpg" style="max-height:356px" alt=""> </li>
                            <li> <img src="~/Content/img/Meat/pork.jpg" style="max-height:356px" alt=""> </li>
                      

                        </ul>
                    </div>
                    <span id="responsiveFlag"></span>
                    <div class="block-slogan">
                        <div class="container">
                            <h1 style="text-align:center">Welcome to BrookBridge, the place for organic food</h1>
                        </div>
                         
                        </div>
                   </div>
                </div>
            </div>
        </div>


        <!-- content -->

        <div id="content" class="content-extra">
            <div class="ic"></div>
            <div class="row-1">
                <div class="container">
                    <div class="row">
                        <article class="span12">


                            <h4>Our Work</h4>
                        </article>
                        <div class="container">
                            <div class="row">
                                <ul class="portfolio clearfix">
                                    <li class="box" style="max-width:270px; max-height: 192px"><a href="~/Content/img/Our_Work/1-1.jpg" class ="magnifier"><img alt="" src="~/Content/img/Our_Work/1.jpg"></a></li>
                                    <li class="box" style="max-width:270px; max-height: 192px"><a href="~/Content/img/Our_Work/2-1.jpg" class="magnifier"><img alt="" src="~/Content/img/Our_Work/2.jpg"></a></li>
                                    <li class="box" style="max-width:270px; max-height: 192px"><a href="~/Content/img/Our_Work/3-1.jpg" class="magnifier"><img alt="" src="~/Content/img/Our_Work/3.jpg"></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <ul class="portfolio clearfix">
                                    <li class="box" style="max-width:270px; max-height: 192px"><a href="~/Content/img/Our_Work/4-1.jpg" class="magnifier"><img alt="" src="~/Content/img/Our_Work/4.jpg"></a></li>
                                    <li class="box" style="max-width:270px; max-height: 192px"><a href="~/Content/img/Our_Work/5-1.jpg" class="magnifier"><img alt="" src="~/Content/img/Our_Work/5.jpg"></a></li>
                                    <li class="box" style="max-width:270px; max-height: 192px"><a href="~/Content/img/Our_Work/6-1.jpg" class="magnifier"><img alt="" src="~/Content/img/Our_Work/6.jpg"></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="container">
                            <div class="row">
                                <ul class="portfolio clearfix">
                                    <li class="box" style="max-width:270px; max-height: 192px"><a href="~/Content/img/Our_Work/7-1.jpg" class="magnifier"><img alt="" src="~/Content/img/Our_Work/7.jpg"></a></li>
                                    <li class="box" style="max-width:270px; max-height: 192px"><a href="~/Content/img/Our_Work/8-1.jpg" class="magnifier"><img alt="" src="~/Content/img/Our_Work/8.jpg"></a></li>
                                    
                                </ul>
                            </div>
                        </div>
                                                                          
                    
                </div>
            </div>

           
        </div>
    </div>
   

</body>
</html>